body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/555/301/original/halloween-background-with-zombies-silhouette-in-the-graveyard-free-vector.jpg);
}

h1 { color: rgb(137, 151, 185);}

p {
    color: black;
}